<template>
    <require from="./hdg"></require>
    <require from="../standard-masks"></require>

    <input type="text" class="form-control inputShort" value.bind="value" change.trigger="onChange()" three-digits-only>
</template>