<template>
  <require from='./nav-bar'></require>

  <nav-bar router.bind="router"></nav-bar>

  <div class="page-host">
    <container>
      <router-view></router-view>
    </container>
  </div>
</template>
