<template>
  <require from="./custom/hdg"></require>
  <require from="./seconds-to-hhmm"></require>
  <require from="./time-format"></require>
  <require from="./three-digits"></require>
  <require from="./standard-masks"></require>
  <require from="./east-west-to-int"></require>

  <section  id="legTable">

    <style scoped>
      .panelsmall {
        width:300px;
      }
      .panelmedium {
          max-width:750px;
      }
      .labelShort {
        text-align: center;
        width: 80px;
        margin:3px;
      }
      .labelMedium {
        width: 120px;
        margin:3px;
      }
      .inputShort {
        min-width: 70px;
      }
      .inputMedium {
        width: 85px;
        margin:3px;
      }
      .inputLong {
        width: 100px;
        margin:3px;
      }
      .readOnly {
        background-color: lightgreen;
      }
      .notUsed {
        background-color: dimgray;
      }
      .headerText {
          color: white;
          background-color: steelblue;
      }
      .striped {
          background-color: lightsteelblue;
      }
      td {
        text-align: center;
      }
    </style>

    <div class="container">

      <!-- Course Changes -->
      <div class="row clearfix">
        <div class="panel panel-default panel-primary panelmedium">
          <div class="panel-heading clickable" click.trigger="collapseToggle()">
            Route Leg
          </div>
          <div class="panel-body">
            <div class="table-responsive" >
              <table class="table-striped">
                <tr>
                  <td>From</td>
                  <td><input type="text" id="routeFrom" class="form-control inputShort" placeholder="ex: KOWB"
                             value.bind="routeFrom"/></td>
                  <td>To</td>
                  <td><input type="text" id="routeTo" class="form-control inputShort" placeholder="ex: I42" value.bind="routeTo"/></td>
                </tr>
              </table>
              <table class="table-bordered">
                <thead class="headerText">
                <tr>
                  <td class="labelShort">
                    TAS
                  </td>
                  <td class="labelShort">
                    TC
                  </td>
                  <td class="labelShort">
                    W. Aloft
                  </td>
                  <td class="labelShort">
                    WCA
                  </td>
                  <td class="labelShort">
                    VAR
                  </td>
                  <td class="labelShort">
                    MH
                  </td>
                  <td class="labelShort">
                    GS
                  </td>
                  <td class="labelShort">
                    Dist
                  </td>
                  <td class="labelShort">
                    Flt Time
                  </td>
                </tr>
                </thead>
                <tbody>
                <tr repeat.for="course of courseChanges" class="${$index%2 ? 'striped' : ''}">
                  <td>
                      <input value.bind="course.tas" type="text" class="form-control inputShort"/>
                  </td>
                  <td>
                    <hdg value.two-way="course.tc" />
                  </td>
                  <td>
                      <input value.bind="course.winds" type="text" class="form-control inputShort"/>
                  </td>
                  <td>
                      <input value.bind="course.wca" type="text" class="form-control inputShort"/>
                  </td>
                  <td>
                      <input value.bind="course.mvar | eastWestToInt" type="text" class="form-control inputShort"/>
                  </td>
                  <td>
                    <div class="form-control control-label  inputShort" style="background: lightgreen;">${course.mh | threeDigits}</div>
                  </td>
                  <td>
                      <input value.bind="course.gs" type="text" class="form-control inputShort"/>
                  </td>
                  <td>
                      <input value.bind="course.legdist" type="text" class="form-control inputShort"/>
                  </td>
                  <td>
                      <div class="form-control inputShort">${course.flttime | secondsToHhmm}</div>
                  </td>
                </tr>
                <tr>
                  <td class="bg-success" colspan="6">
                      <a class="btn"title="Add New Course Row" href="#performance" click.trigger="addCourseRow();"><i class="fa fa-plus-circle" style="font-size: 14pt;"></i></a>
                      <a class="btn" title="Add New Course Row" href="#performance" click.trigger="removeCourseRow();"><i class="fa fa-minus-circle" style="font-size: 14pt;"></i></a>
                  </td>
                  <td class="bg-success" style="text-align: center; vertical-align: middle">Total</td>
                  <td class="bg-success">
                    <div class="form-control" style="background: lightgreen;">${courseDistTotal}</div>
                  </td>
                  <td class="bg-success">
                    <div class="form-control" style="background: lightgreen;">${flttimeTotal | secondsToHhmm}</div>
                  </td>
                </tr>
                </tbody>
              </table>

              <table class="form">
                <tr>
                  <td class="inputShort" style="font-weight: bolder"> Fuel: </td>
                  <td class="text-right"> Enroute </td>
                  <td><input value.bind="fuelEnroute" type="number" class="form-control inputShort"/></td>
                  <td class="text-right"> Climb </td>
                  <td><input value.bind="fuelClimb" type="number" class="form-control inputShort"/></td>
                  <td class="text-right"> Reserve </td>
                  <td><input value.bind="fuelReserve" type="number" class="form-control inputShort"/></td>
                  <td class="text-right"> Fuel Req'd </td>
                  <td><div class="form-control readOnly inputShort">${fuelTotal}</div></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- Fuel -->
      <div class="row clearfix">
        <div class="panel panel-primary panelmedium">
          <div class="panel-heading clickable" click.trigger="collapseToggle()">
            Checkpoints
          </div>
          <div class="panel-body">
            <table style="width:520px;">
              <tr>
                <td colspan="2" style="text-align: center;">
                    <span style="font-size: 18px; font-weight: bold;">${currentGMT} GMT</span><span style="margin-left:30px; font-size: 18px; font-weight: bold;">${currentLCL} LCL</span>
                </td>
              </tr>
              <tr>
                <td colspan="2" style="padding: 5px;">
                  <span class="form-inline" style="vertical-align: middle;">
                  <span class="form-group">
                    <i click.trigger="toggleLockTakeOffTime()" class="fa ${lockTakeOffTime === true ? 'fa-lock' : 'fa-unlock-alt'} clickable" style="font-size: 24px;"></i>
                    T.O. Time
                  </span>
                  <span class="form-group">
                    <input type="text" class="form-control inputShort" style="width:90px;" value.bind="takeOffTime"/>
                    <i click.trigger="setTakeOffTime()" class="fa fa-clock-o clickable"
                      style="font-size: 28px;"></i>
                  </span>
                  </span>
                </td>
              </tr>
            </table>

            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <td>Chk Pt</td>
                  <td>Distance</td>
                  <td>Leg Time</td>
                  <td style="width:200px;">Clock Time</td>
                  <td >GS</td>
                </tr>
                </thead>
                <tbody>
                <tr style="background: lightsteelblue;">
                  <td><input type="text" class="form-control"/></td>
                  <td>
                    <div class="form-control inputShort" disabled>NM</div>
                    <div class="form-control inputShort" disabled>DTG</div>
                  </td>
                  <td>
                    <div class="form-control inputShort" disabled>ET</div>
                    <div class="form-control inputShort" disabled>AT</div>
                  </td>
                  <td>
                    <div class="form-control" style="width:160px;" disabled>ETA</div>
                    <div class="form-control" style="width:160px;" disabled>ATA</div>
                  </td>
                  <td>
                    <div class="form-control inputShort" disabled>Kts</div>
                  </td>
                </tr>
                <tr>
                  <td><input type="text" class="form-control inputShort"/></td>
                  <td>
                    <input type="number" class="form-control inputShort"/>

                    <div class="form-control inputShort" style="background: lightgreen;"/>
                  </td>
                  <td>
                    <div class="form-control inputShort"  disabled></div>
                    <div class="form-control inputShort"  disabled></div>
                  </td>
                  <td>
                    <div class="form-control" style="width:160px;" disabled></div>
                    <div class="input-group" style="width:160px;">
                      <input type="text" class="form-control" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2"><i class="fa fa-clock-o"
                                                                         style="vertical-align: middle"></i></span>
                    </div>
                  </td>
                  <td>
                    <div class="form-control inputShort" disabled></div>
                  </td>
                </tr>
                <tr repeat.for="log of navLogs">
                  <td>
                    <input value.bind="log.checkPoint" type="text" class="form-control inputShort"/>
                  </td>
                  <td>
                    <input value.bind="log.dist" type="number" class="form-control inputShort"/>
                    <div class="form-control" style="background: lightgreen;"></div>
                  </td>
                  <td>
                    <input value.bind="log.timeEstimate" type="number" class="form-control inputShort"/>
                    <input value.bind="log.timeActual" type="number" class="form-control inputShort"/>
                  </td>
                  <td>
                    <input value.bind="log.clockEstimate" type="text" style="width:160px;" class="form-control"/>
                    <div class="input-group" style="width:160px;">
                      <input type="text" class="form-control" aria-describedby="basic-addon3">
                    <span class="input-group-addon" id="basic-addon3"><i class="fa fa-clock-o"
                                                                         style="vertical-align: middle"></i></span>
                    </div>
                  </td>
                  <td><input value.bind="log.gs" type="number" class="form-control inputShort"/></td>
                </tr>
                </tbody>
              </table>
              <a class="btn"title="Add New Course Row" href="#performance" click.trigger="addNavLog();"><i class="fa fa-plus-circle" style="font-size: 14pt;"></i></a>
              <a class="btn" title="Add New Course Row" href="#performance" click.trigger="removeNavLog();"><i class="fa fa-minus-circle" style="font-size: 14pt;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="panel panel-default panel-primary">

          <div class="panel-heading clickable" click.trigger="collapseToggle()">
            Misc
          </div>

          <div class="panel-body">
            <div class="form-horizontal">

              <div class="form-group">
                <label for="routeFrom" class=" col-xs-3 col-sm-2 col-md-2 control-label text-right">Start Descent</label>

                <div class="col-xs-5 col-sm-4 col-md-4 ">
                  <input type="text" id="startDescent" class="form-control" value.bind="startDescent"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-xs-3 col-sm-2 control-label text-right">Landing Time</label>

                <div class="col-xs-6 col-sm-4 col-md-3">
                  <input type="text" class="form-control" value.bind="landingTime"/>
                </div>
                <i click.trigger="setLandingTime()" class="fa fa-clock-o clickable"
                   style="font-size: 32px; vertical-align: middle"></i>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </section>
</template>
