<template>
  <section class="au-animate">
    <h2>${heading}</h2>

    <div>
      You will find several applications and documents that will assist you in your flights.
    </div>
    <div>
      Select your aircraft here, and then select the function you desire from the Menu above.
    </div>

  </section>
  <section>
    <div style="margin: 15px;">
      <h3>Please select the aircraft to use:</h3>
      <select value.bind="aircraftData.selectedAircraft">
        <option repeat.for="aircraft of aircraftData.availableAircraft" value="${$index}">${aircraft.title}</option>
      </select>
    </div>

  </section>
</template>
