<template>
  <require from="./fahrenheit-to-celsius"></require>

  <section id="legTable">
    <style>

      .legLabel {
        width: 35px;
        margin: 2px;
      }

      .legInputShort {
        width: 65px;
        margin: 2px;
      }

      .legInputMedium {
        width: 85px;
        margin: 2px;
      }

      .legInputLong {
        width: 90px;
        margin: 2px;
      }

      .showArea {
        display: inline-block;
      }

      .hideArea {
        display: none;
      }

      #imageholder div {
        background-color: black;
        position: absolute;
      }

      #imageholder {
        position: relative;
        display: inline-block;
        overflow: hidden;
      }

      #yaxis {
        width: 340px;
        margin-left: 25px;
        height: 1px;
        display: inline-block;
      }

      #xaxis {
        width: 1px;
        height: 100%;
        display: inline-block;
        visibility: visible;
      }

    </style>

    <div class="container">

      <div class="row">
        <div>
          <div style="margin: 8px;">
            <span style="font-size: 16px; font-weight: bolder">${heading}</span>
            <a class="btn btn-default" style="margin-left: 10px; margin-right: 10px;" title="Reset Data" click.trigger="emailData();"><i class="fa fa-envelope" style="font-size: 14pt;"></i></a>
            <a class="btn btn-danger" style="margin-left: 40px;" title="Reset Data" href="#performance" click.trigger="resetData();"><i class="fa fa-undo" style="font-size: 14pt;"></i></a>
          </div>
        </div>

        <div style="margin:10px;">
          <span>${aircraft.title}</span>
        </div>
      </div>

      <div class="row">
        <div class="table-responsive">
          <table>
            <thead>
            <tr>
              <td class="text-center legInputShort">
                Select
              </td>
              <td class="text-center legInputShort">
                ICAO
              </td>
              <td class="text-center legInputShort">
                Fld<br>Elev (ft)
              </td>
              <td class="text-center legInputShort">
                Alt<br>(inHg)
              </td>
              <td class="text-center legInputShort">
                High<br>Temp (C)*
              </td>
              <td class="text-center legInputMedium">
                P.Alt(ft)<br>Std T(C)
              </td>
              <td class="text-center legInputShort">
                Density<br>Alt (ft)
              </td>
              <td class="text-center legInputShort">
                T.O.<br>Dist (ft)
              </td>
              <td class="text-center legInputShort">
                T.O. Dist<br>50ft (ft)
              </td>
              <td class="text-center legInputShort">
                Ldg<br>Dist (ft)
              </td>
              <td class="text-center legInputShort">
                Ldg Dist<br>50ft (ft)
              </td>
            </tr>
            </thead>
            <tbody">

            <tr  repeat.for="leg of legData">
              <td>
                <i class="fa fa-${$parent.selectedLeg ==$index ? 'check-square-o' : 'square-o'}"
                   click.trigger="$parent.selectLeg($index);"></i>
              </td>
              <td>
                <input value.bind="leg.icao" placeholder="ICAO" type="text"
                       class="form-control center-block legInputShort" maxlength="4">
              </td>
              <td>
                <input value.bind="leg.elev" type="text" class="form-control center-block legInputShort" maxlength="5">
              </td>
              <td>
                <input value.bind="leg.baroHg" type="text" title="test" class="form-control center-block legInputShort">
              </td>
              <td>
                <input value.bind="leg.highTemp | fahrenheitToCelsius" type="text"
                       class="form-control center-block legInputShort">
              </td>
              <td>
                <div  class="form-control center-block legInputMedium" readonly>
                  ${leg.presAlt+'/'+leg.stdTemp}
                </div>
              </td>
              <td>
                <input value.one-way="leg.densityAlt" type="text" class="form-control center-block legInputShort"
                       readonly>
              </td>
              <td>
                <input value.bind="leg.toDist" type="text" class="form-control center-block legInputShort">
              </td>
              <td>
                <input value.bind="leg.toDist50" type="text" class="form-control center-block legInputShort">
              </td>
              <td>
                <input value.bind="leg.ldDist" type="text" class="form-control center-block legInputShort">
              </td>
              <td>
                <input value.bind="leg.ldDist50" type="text" class="form-control center-block legInputShort">
              </td>
            </tr>
            <tr>
              <td colspan="5">
                <a class="btn"href="#performance" click.trigger="addLeg();"><i class="fa fa-plus-circle" style="font-size: 14pt;"></i></a>
                <a class="btn" href="#performance" click.trigger="removeLeg();"><i class="fa fa-minus-circle" style="font-size: 14pt;"></i></a>
              </td>
            </tr>

            </tbody>
          </table>
          <div>
            <small>* - enter temperature in fahrenheit and type F to convert to centigrade.</small>
          </div>
        </div>
      </div>

      <div class="row">
        <div>
          <h4>Performance Charts</h4>

          <ul class="nav nav-pills">
            <li class="${isTakeoff ? 'active' : ''}" id="takeoff">
              <a href="#/performance" click.trigger="toggleChart();">Take Off</a>
            </li>
            <li class="${!isTakeoff ? 'active' : ''}" id="landing">
              <a href="#/performance" click.trigger="toggleChart();">Landing</a>
            </li>
          </ul>
          <div>

            <table>
              <tr>
                <td>
                  <div id="imageholder">
                    <div id="yaxis"></div>
                    <div id="xaxis"></div>
                    <span>
                    <img src.bind="takeoffImage" class.bind="isTakeoff ? 'showArea' : 'hideArea'">
                    <img src.bind="landingImage" class.bind="!isTakeoff ? 'showArea;' : 'hideArea'">
                    <input id="y-axis" type="range" step="1" min.bind="yRngStart" max.bind="yRngEnd" style="margin-top: 100px; vertical-align: bottom; display: inline-block; margin:auto; width: 20px; height:300px; -webkit-appearance: slider-vertical; writing-mode: bt-lr" value.bind="yaxis" orient="vertical"/>
                  <span class="form-inline" >
                    <input value.bind="chartAlt" type="numberic" class="form-control" style="width:65px;">
                    <label class="form-control" style="margin:5px;" for="y-axis">Altitude</label>
                  </span>
                    </span>
                  </div>
                </td>
              </tr>
              <tr>
                <td style="padding-left: 75px;padding-bottom: 35px;">
                  <div class="form-inline" >
                    <input id="x-axis" type="range" min="0" max.bind="xLimit" style="width:290px" value.bind="xaxis"/>
                    <input value.bind="chartDist" type="text" class="form-control" style="width:65px;">
                    <label class="form-control" style="margin:5px;">Distance</label>
                    <button click.trigger="updateTODist();" class.bind="isTakeoff ? 'showArea' : 'hideArea'">TO Dist</button>
                    <button click.trigger="updateTODist50();" class.bind="isTakeoff ? 'showArea' : 'hideArea'">T0 Dist (50ft)</button>
                    <button click.trigger="updateLndDist();" class.bind="!isTakeoff ? 'showArea' : 'hideArea'">Ldg Dist</button>
                    <button click.trigger="updateLndDist50();" class.bind="!isTakeoff ? 'showArea' : 'hideArea'">Ldg Dist (50ft)</button>
                  </div>
                </td>
              </tr>
            </table>

          </div>
        </div>
      </div>

    </div>

  </section>
</template>
