<template>
  <require from="./seconds-to-hhmm"></require>

  <section>

      <row>
         <div class="table-responsive" >
          <table class="table-bordered table-striped">
            <thead>
            <tr>
              <td class="labelShort">
                GS
              </td>
              <td class="labelShort">
                Dist
              </td>
              <td class="labelShort">
                Flt Time
              </td>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="course of courseChanges">
              <td>
                <input value.one-way="course.calcFltTime" type="hidden">
                <input value.bind="course.gs" type="text" class="form-control inputShort"/>
              </td>
              <td>
                <input value.bind="course.legdist" type="text" class="form-control inputShort"/>
              </td>
              <td>
                <input value.bind="course.flttime | secondsToHhmm" type="text" class="form-control inputShort"/>
              </td>
            </tr>
            <tr>
              <td class="bg-success" style="text-align: center; vertical-align: middle">Total</td>
              <td class="bg-success">
                <div class="form-control" style="background: lightgreen;">${courseDistTotal}</div>
              </td>
              <td class="bg-success">
                <div class="form-control" style="background: lightgreen;">${courseFltTimeTotal | secondsToHhmm}</div>
              </td>

              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </row>

    </container>

  </section>
</template>
