<template>

  <section  id="legTable">

    <style scoped>
      .labelShort {
        width: 80px;
        margin:3px;
      }
      .labelMedium {
        width: 120px;
        margin:3px;
      }
      .inputShort {
        width: 70px;
        margin:3px;
      }
      .inputMedium {
        width: 85px;
        margin:3px;
      }
      .inputLong {
        width: 100px;
        margin:3px;
      }
      .danger {
        background-color: red;
        color: yellow;
      }
      .TOCGMarker1 {
        position:relative
      }

      .TOCGMarker1:after {
        /* comes from .fa*/
        font: normal normal normal 10px/1 FontAwesome;
        font-size: 20px;
        color: blue;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);

        /* comes from .fa-star*/
        content:"\f072";

        /* add for overlaying*/
        display:block;
        position:absolute;
        top: ${cgMarkers[0][0]}px;
        left: ${cgMarkers[0][1]}px;
      }
      .LdgCGMarker1 {
        position:relative
      }
      .LdgCGMarker1:after {
        /* comes from .fa*/
        font: normal normal normal 10px/1 FontAwesome;
        font-size: 20px;
        color: blue;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);

        /* comes from .fa-star*/
        content:"\f072";

        /* add for overlaying*/
        display:block;
        position:absolute;
        top: ${cgMarkers[3][0]}px;
        left: ${cgMarkers[3][1]}px;
      }
      .TOCGMarker2 {
        position:relative
      }
      .TOCGMarker2:after {
        /* comes from .fa*/
        font: normal normal normal 10px/1 FontAwesome;
        font-size: 20px;
        color: green;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);

        /* comes from .fa-star*/
        content:"\f072";

        /* add for overlaying*/
        display:block;
        position:absolute;
        top: ${cgMarkers[1][0]}px;
        left: ${cgMarkers[1][1]}px;
      }
      .LdgCGMarker2 {
        position:relative
      }
      .LdgCGMarker2:after {
        /* comes from .fa*/
        font: normal normal normal 10px/1 FontAwesome;
        font-size: 20px;
        color: green;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);

        /* comes from .fa-star*/
        content:"\f072";

        /* add for overlaying*/
        display:block;
        position:absolute;
        top: ${cgMarkers[4][0]}px;
        left: ${cgMarkers[4][1]}px;
      }
      .TOCGMarker3 {
        position:relative
      }
      .TOCGMarker3:after {
        /* comes from .fa*/
        font: normal normal normal 10px/1 FontAwesome;
        font-size: 20px;
        color: purple;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);

        /* comes from .fa-star*/
        content:"\f072";

        /* add for overlaying*/
        display:block;
        position:absolute;
        top: ${cgMarkers[2][0]}px;
        left: ${cgMarkers[2][1]}px;
      }
      .LdgCGMarker3 {
        position:relative
      }
      .LdgCGMarker3:after {
        /* comes from .fa*/
        font: normal normal normal 10px/1 FontAwesome;
        font-size: 20px;
        color: purple;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        -webkit-transform: scaleY(-1);
        -moz-transform: scaleY(-1);
        -ms-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        transform: scaleY(-1);

        /* comes from .fa-star*/
        content:"\f072";

        /* add for overlaying*/
        display:block;
        position:absolute;
        top: ${cgMarkers[5][0]}px;
        left: ${cgMarkers[5][1]}px;
      }


      .legblue {
        color: blue;
      }
      .leggreen {
        color: green;
      }
      .legpurple {
        color: purple;
      }

      .showArea {
        display: block;
      }
      .hideArea {
        display: none;
      }
    </style>

    <div class="container">

      <div class="row">
        <div>
          <div style="margin: 8px;">
            <span style="font-size: 16px; font-weight: bolder">${heading}</span>
            <a class="btn btn-default" style="margin-left: 10px; margin-right: 10px;" title="Reset Data" click.trigger="emailData();"><i class="fa fa-envelope" style="font-size: 14pt;"></i></a>
            <span class="btn ${isDisplayFullMode ? 'btn-success' : 'btn-default'}" click.trigger="toggleDisplayMode()">Full</span>
            <span class="btn ${!isDisplayFullMode ? 'btn-success' : 'btn-default'}" click.trigger="toggleDisplayMode()">Abbrev.</span>
            <a class="btn btn-danger" style="margin-left: 40px;" title="Reset Data" href="#performance" click.trigger="resetData();"><i class="fa fa-undo" style="font-size: 14pt;"></i></a>
          </div>
        </div>

        <div style="margin:10px;">
          <span>${aircraft.title}</span>
          <span style="margin-left: 25px;">Max Gross Wt: ${wbLegs[0].grossWeightMax}</span>
          <span style="margin-left: 25px;">CG Range: ${wbLegs[0].cgRange}</span>
          <span style="margin-left: 25px;">Fuel Cap: ${wbLegs[0].fuelCapacity}</span>
        </div>
      </div>

      <div class="row" repeat.for="leg of wbLegs">

        <!--<input value.one-way="leg.calcPilotCopilotMoment" type="hidden">-->
        <!--<input value.one-way="leg.calcRearPassengersMoment" type="hidden">-->
        <!--<input value.one-way="leg.calcBaggageMoment" type="hidden">-->
        <!--<input value.one-way="leg.calcFuelStartWeight" type="hidden">-->
        <!--<input value.one-way="leg.calcFuelEndWeight" type="hidden">-->

        <div class="table-responsive ${$parent.isDisplayFullMode ? 'showArea' : 'hideArea'}" >
          <table>
            <thead>
            <tr>
              <td class="text-center labelMedium">
                <div style="font-size: 14px; font-weight: bold">Leg ${$index+1} <span style="font-size: 14px;"><i class="fa fa-star ${$index===0 ? 'legblue' : $index===1 ? 'leggreen' : 'legpurple'}"></i></span></div>
              </td>
              <td class="text-center labelMedium">
                Location
              </td>
              <td class="text-center labelShort">
                Weight
              </td>
              <td class="text-center labelShort">
                Arm CG
              </td>
              <td class="text-center labelShort">
                Moment
              </td>
            </tr>
            </thead>
            <tbody>
              <tr>
                <td></td>
                <td class="text-right">
                  Plane Empty
                </td>
                <td>
                  <input value.one-way="leg.planeEmptyWeight" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.planeEmptyArm" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.planeEmptyMoment" type="text" class="form-control center-block inputMedium" readonly>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Pilot CoPilot
                </td>
                <td>
                  <input value.bind="leg.pilotCopilotWeight" type="text" class="form-control center-block inputShort" maxlength="4">
                </td>
                <td>
                  <input value.one-way="leg.pilotCopilotArm" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.pilotCopilotMoment" type="text" class="form-control center-block inputMedium" readonly>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Rear Passengers
                </td>
                <td>
                  <input value.bind="leg.rearPassengersWeight" type="text" class="form-control center-block inputShort" maxlength="4">
                </td>
                <td>
                  <input value.one-way="leg.rearPassengersArm" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.rearPassengersMoment" type="text" class="form-control center-block inputMedium" readonly>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Baggage
                </td>
                <td>
                  <input value.bind="leg.baggageWeight" type="text" class="form-control center-block inputShort" maxlength="4">
                </td>
                <td>
                  <input value.one-way="leg.baggageArm" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.baggageMoment" type="text" class="form-control center-block inputMedium" readonly>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Loaded Fuel (Gal)
                </td>
                <td>
                  <span class=" ${leg.isFuelOutsideCapacity ? 'has-error' : ''}">
                    <input value.bind="leg.fuelLoaded" type="text" class="form-control center-block inputShort" maxlength="4">
                  </span>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Fuel Used (Gal)
                </td>
                <td>
                  <span class=" ${leg.isFuelUsedGreaterThanLoaded ? 'has-error' : ''}">
                    <input value.bind="leg.fuelUsed" type="text" class="form-control center-block inputShort" maxlength="4">
                  </span>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Loaded Fuel
                </td>
                <td>
                  <input value.one-way="leg.fuelStartWeight" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.fuelStartArm" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.fuelStartMoment" type="text" class="form-control center-block inputMedium" readonly>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  End Fuel
                </td>
                <td>
                  <input value.one-way="leg.fuelEndWeight" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.fuelEndArm" type="text" class="form-control center-block inputShort" readonly>
                </td>
                <td>
                  <input value.one-way="leg.fuelEndMoment" type="text" class="form-control center-block inputMedium" readonly>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Takeoff Wt
                </td>
                <td>
                  <div  type="text" class="form-control center-block inputShort" readonly>
                    ${leg.takeoffWeight}
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Takeoff CG
                </td>
                <td>
                  <div  type="text" class="form-control center-block inputShort" readonly>
                    ${leg.takeoffCg}
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Landing Wt
                </td>
                <td>
                  <div  type="text" class="form-control center-block inputShort" readonly>
                    ${leg.landingWeight}
                  </div>
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="text-right">
                  Landing CG
                </td>
                <td>
                  <div  type="text" class="form-control center-block inputShort" readonly>
                    ${leg.landingCg}
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
         </div>
      </div>

      <div class="row">
        <div class="table-responsive ${!isDisplayFullMode ? 'showArea' : 'hideArea'}">
          <table>
            <thead>
            <tr>
              <td class="text-center labelShort">
              </td>
              <td class="text-center labelShort">
                <span>Pilot/Copilot<br>Wt</span>
              </td>
              <td class="text-center labelShort">
                <span>Rear<br>Passengers<br>Wt</span>
              </td>
              <td class="text-center labelShort">
                <span>Baggage<br>Wt</span>
              </td>
              <td class="text-center labelShort">
                <span>Fuel<br>Loaded</span>
              </td>
              <td class="text-center labelShort">
                <span>Fuel<br>Used</span>
              </td>
              <td class="text-center labelShort">
                <span>T.O. Weight</span>
              </td>
              <td class="text-center labelShort">
                <span>T.O. CG</span>
              </td>
              <td class="text-center labelShort">
                <span>Ldg CG</span>
            </tr>
            </thead>
            <tbody>
            <tr repeat.for="leg of wbLegs">
              <td>
                <div style="font-size: 14px; font-weight: bold;width: 85px">Leg ${$index+1} <span style="font-size: 14px;"><i class="fa fa-star ${$index===0 ? 'legblue' : $index===1 ? 'leggreen' : 'legpurple'}"></i></span></div>
              </td>
              <td>
                <input value.bind="leg.pilotCopilotWeight" type="text" class="form-control center-block inputShort" maxlength="4">
              </td>
              <td>
                <input value.bind="leg.rearPassengersWeight" type="text" class="form-control center-block inputShort" maxlength="4">
              </td>
              <td>
                <input value.bind="leg.baggageWeight" type="text" class="form-control center-block inputShort" maxlength="4">
              </td>
              <td>
                <span class=" ${leg.isFuelOutsideCapacity ? 'has-error' : ''}">
                  <input value.bind="leg.fuelLoaded" type="text" class="form-control center-block inputShort" maxlength="4">
                </span>
              </td>
              <td>
                <span class=" ${leg.isFuelUsedGreaterThanLoaded ? 'has-error' : ''}">
                  <input value.bind="leg.fuelUsed" type="text" class="form-control center-block inputShort" maxlength="4">
                </span>
              </td>
              <td>
                <div class="form-control inputShort ${leg.isTakeoffOverGross ? 'danger' : ''}" >${leg.takeoffWeight}</div>
              </td>
              <td>
                <div class="form-control inputShort ${leg.isTakeoffOutsideCg ? 'danger' : ''}" >${leg.takeoffCg}</div>
              </td>
              <td>
                <div class="form-control inputShort ${leg.isTakeoffOutsideCg ? 'danger' : ''}" >${leg.landingCg}</div>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="row">
        <div>
          <a class="btn" href="#weightbalance" click.trigger="addWBLeg();"><i class="fa fa-plus-circle" style="font-size: 14pt;"></i></a>
          <a class="btn" href="#weightbalance" click.trigger="removeWBLeg();"><i class="fa fa-minus-circle" style="font-size: 14pt;"></i></a>
        </div>
      </div>

      <div class="row">
        <div>
          <h4>W&B Chart</h4>

          <div id="imageholder">
            <div class="LdgCGMarker1"></div>
            <div class="TOCGMarker1"></div>
            <div class="LdgCGMarker2"></div>
            <div class="TOCGMarker2"></div>
            <div class="LdgCGMarker3"></div>
            <div class="TOCGMarker3"></div>
            <img src="${cgChart}">
          </div>
        </div>
      </div>

    </div>

  </section>
</template>
